body{
    background-color:#d8eff3;
    font-family: sans-serif;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
    color: #23464d;
    margin-bottom: 80px;
    margin-top: 30px;
}
h4{
  margin-top: 20px;  
  margin-bottom: 5px;
  text-align: center;
  font-size: 26px;
  color:#23464d;
}
.options{
    border: 10px solid #56b9cd;
    background-color: #c0e5ec;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    height: 700px;
}

.gridSizeOption{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 60px;
    
}
.gridSizeOption > .size{
    border: 2px solid #56b9cd;
    background-color:#d8eff3;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1;
    height: 25px;
    aspect-ratio: 1/1;
    text-align: center;
    margin:5px;
    border-radius: 7px;
    align-items: center;
    padding: 8px;
    padding-left: 6px;
    padding-top: 12px;
    color:#061114 ;
}

.colorBox{
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 60px;
    

}
.color{
    border: 1px solid black;
    flex-grow: 1;
    border: 2px solid rgba(0, 0, 0, 0.274);
    border-radius: 10px;
    height: 45px;
    margin: 5px;
    aspect-ratio: 1/1;
    margin-top: auto;
    margin-bottom: auto;
    
}
.gameBoard{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;

}
.sketch{
    display: flex;
    height: 700px;
    width: 700px;
    border: 10px solid #56b9cd;
    border-radius: 10px;
    margin-left: 50px;
}
.column{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 1px solid rgba(0, 0, 0, 0.055);
    margin: -1px;
}
.square{
    flex-grow: 1;
    border: 1px solid rgba(0, 0, 0, 0.055);
    margin: -1px;
}
p{
    text-align: center;
    margin-top: 150px;
    color:#56b9cd;
}