.size{
    height: 45px;
    width: 45px;
    border: 2px solid black;
}
.sketch{
    display: flex;
    height: 500px;
    width: 500px;
    border: 2px solid black;
}
.column{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 1px solid rgba(0, 0, 0, 0.055);
    margin: -1px;
}
.square{
    flex-grow: 1;
    border: 1px solid rgba(0, 0, 0, 0.055);
    margin: -1px;
}

.options{
    border: 2px solid black;
    width: 300px;
    display: flex;
}
.color, .gridSizeOption{
    border: 2px solid black; 
    width: 150px;
    border: 2px solid red;
}
