.options{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    }

    .gridSizeOption{
        display: flex;
        flex-wrap: wrap;
        height: 250px;
        width: 250px;
        justify-content: space-around;
    }
    .size{
        border: 2px solid black;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 1;
        height: 40px;
        width: 50px;
        text-align: center;
        

    }






.gameBoard{
    display: flex;

}
.sketch{
    display: flex;
    height: 500px;
    width: 500px;
    border: 2px solid black;
}
.column{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 1px solid rgba(0, 0, 0, 0.055);
    margin: -1px;
}
.square{
    flex-grow: 1;
    border: 1px solid rgba(0, 0, 0, 0.055);
    margin: -1px;
}






.colorBox{
    border: 1px solid black; 
    width: 150px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}
.color{
    border: 1px solid black;
    flex-grow: 1;
    height: 30px;
    width: 30px;
    margin: 5px;
    margin-top: auto;
    margin-bottom: auto;
    border: 2px solid rgba(0, 0, 0, 0.274);
    border-radius: 10px;
};
